footer {
  .col-md-3 {
    &:first-child {
      .contact-info {
        li {
          p {
            color: #a8a8a8;
          }
        }
      }
      .social-part {
        li {
          border: 1px solid #313438;
          border-radius: 50%;
          padding: 5px 3px;
          margin-right: 20px;
          transition: all 0.3s;

          &:first-child:hover {
            background-color: #3b5a9a;
          }
          &:nth-child(2):hover {
            background-color: #1aa9e1;
          }
          &:nth-child(3):hover {
            background-color: #7c4a3a;
          }
        }
      }
    }

    &:nth-child(2) {
      a {
        color: #a8a8a8;
      }
    }

    &:nth-child(3) {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        gap: 10px;
        font-size: 0.9rem;

        li {
          a {
            color: #a8a8a8;
            border: 1px solid #515151;
            padding: 0px 5px;
          }
        }
      }
    }

    &:last-child input {
      background-color: #292c30;
      border-radius: 15px;
      border: none;
      padding: 10px 20px;
      width: 100%;
      outline: none;
    }
  }
}
