<footer class="bg-dark mt-5">
  <div class="footer-top py-5">
      <div class="container-md">
          <div class="row">
              <div class="col-md-3 col-sm-6 mb-5 text-white">
                  <h5>CONTACT INFO</h5>
                  <ul class="p-0">
                      <li>ADDRESS: <p style="color: #A8A8A8;">123 Street Name, City, England</p></li>
                      <li>PHONE: <p style="color: #A8A8A8;">(123)456-7890</p></li>
                      <li>EMAIL:<p style="color: #A8A8A8;">[email protected]</p></li>
                      <li class="pb-2">WORKING DAYS/HOURS: <p style="color: #A8A8A8;">Mon - Sun / 9:00 AM - 8:00 PM</p></li>
                  </ul>
                  <ul class="d-flex">
                      <li><a href=""><i class="fa-brands fa-facebook-f ml-3 px-2 text-white"></i></a></li>
                      <li><a href=""><i class="fa-brands fa-twitter ml-3 px-2 text-white"></i></a></li>
                      <li><a href=""><i class="fa-brands fa-instagram ml-3 px-2 text-white"></i></a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-sm-6 mb-5 d-flex flex-column">
              <h5 class="text-white">CUSTOMER SERVICE</h5>
                   <a class="my-1" href="#">Help & FAQs</a>
                   <a class="my-1" href="#">Order Tracking</a>
                   <a class="my-1" href="#">Shipping & Delivery</a>
                   <a class="my-1" href="#">Orders History</a>
                   <a class="my-1" href="#">Advanced Search</a>
                   <a class="my-1" href="#">My Account</a>
                   <a class="my-1" href="#">Careers</a>
                   <a class="my-1" href="#">About Us</a>
                   <a class="my-1" href="#">Corporate Sales</a>
                   <a class="my-1" href="#">Privacy</a>
              </div>
              <div class="col-md-3 col-sm-6 mb-5">
                  <h5 class="text-white">POPULAR TAGS</h5>
                  <ul class="pt-2">
                      <li><a href="#">Bag</a></li>
                      <li><a href="#">Black</a></li>
                      <li><a href="#">Blue</a></li>
                      <li><a href="#">Clothes</a></li>
                      <li><a href="#">Fashion</a></li>
                      <li><a href="#">Hub</a></li>
                      <li><a href="#">Shirt</a></li>
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Skirt</a></li>
                      <li><a href="#">Sports</a></li>
                      <li><a href="#">Sweater</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-sm-6 mb-5 subsrcibeend text-white ">
                <h5>SUBSCRIBE NEWSLETTER</h5>
                 <p style="color: #A8A8A8;">Get all the latest information on events, sales and offers. Sign up for newsletter:</p>
                 <input type="email" placeholder="Email address">

                 <button class="btn btn-primary rounded-pill mt-3">SUBSCRIBE</button>

              </div>
          </div>
      </div>
  </div>
</footer>
