<div class="section-3">
  <div class="container-md">
    <div class="s3-header d-flex align-items-center mb-4 pt-4">
      <h2 class="d-flex align-items-center mb-0">FEATURED PRODUCTS</h2>
    </div>
    <div class="s3-main">
      <div id="carouselHome4" class="owl-carousel owl-theme">
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-1.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              ></span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-2.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-3.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-4.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-5.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-4">
  <div class="container-md">
    <div class="s3-header d-flex align-items-center mb-4 pt-4">
      <h2 class="d-flex align-items-center mb-0">NEW ARRIVALS</h2>
    </div>
    <div class="s3-main">
      <div id="carouselHome5" class="owl-carousel owl-theme">
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-6.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-7.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-8.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-9.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div
          class="item shadow-sm me-3 d-flex align-items-center justify-content-evenly"
        >
          <img src="../../../../assets/images/products/product-10.jpg" alt="" />
          <div class="absolute-text">
            <span class="hot mb-2">HOT</span>
            <span class="discount">-20%</span>
          </div>
          <div class="text-part">
            <span class="category">CATEGORY</span>
            <span class="category-description"
              >Ultimate 3D Bluetooth Speaker</span
            >
            <div class="rating-stars my-2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="price d-flex align-items-center justify-content-center">
              <del class="text-muted me-2">$59.00</del>
              <span class="fw-bold fs-6">$49.00</span>
            </div>
            <div class="addToCart my-4">
              <a href="">ADD TO CART</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
